@tailwind base;
@tailwind components;
@tailwind utilities;

.main-img {
  background-image: url("https://image.tmdb.org/t/p/original//tmU7GeKVybMWFButWEGl2M4GeiP.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 2rem;
}

body {
  overflow-x: hidden;
}
